<!DOCTYPE html>
<html lang="<%=lang%>">
<head>
  <title>Selfkey Marketplaces</title>
  <meta name="description" content="description">
  <meta name="keywords" content="keywords">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="">
  <meta name="google-analytics-property-id" content="">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <header>
  </header>
  <div id="app">
    <%-body%>
  </div>
</body>
</html>